/* 상단 내비게이션 바 스타일 */
.top-nav {
    background-color: #f4f4f4; /* 배경색 */
    padding: 10px 0; /* 상하 패딩 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-bottom: 20px; /* 아래쪽 여백 */
}

/* 내비게이션 링크 스타일 */
.top-nav a {
    padding: 8px 16px; /* 패딩 설정 */
    color: #333; /* 글자 색상 */
    text-decoration: none; /* 밑줄 없애기 */
    font-size: 16px; /* 글자 크기 */
}

/* 활성화 또는 호버 상태의 링크 스타일 */
.top-nav a.active, .top-nav a:hover {
    background-color: #ddd; /* 배경색 */
    color: black; /* 글자 색상 */
}

/* lotto-home-styles.css */
/* 기본 스타일 및 텍스트, 배경 색상 조정 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* 폰트 설정 */
    background-color: #f4f4f4; /* 배경색 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 테이블 스타일 */
table {
    width: 25%; /* 너비 조정 */
    margin: auto; /* 중앙 정렬 */
    border-collapse: collapse;
}

/* 테이블 헤더 및 셀 스타일 */
th, td {
    text-align: center;
    padding: 25px;
}

/* 헤더 배경색 및 글자색 */
th {
    background-color: #4CAF50;
    color: white;
}

/* 행 스타일 */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 로또 번호 공 스타일 */
.lotto-ball {
    display: inline-block;
    width: 40px; /* 너비 설정 */
    height: 40px; /* 높이 설정 */
    line-height: 40px;
    text-align: center; 
    border-radius: 50%; /* 원형으로 디자인 */
    color: white; /* 텍스트 색상을 흰색으로 설정 */
    font-weight: bold; /* 텍스트를 굵게 */
    margin-right: 5px; /* 좌우 간격 설정 */
}

/* 번호 범위에 따른 색상 지정 */
.lotto-past-number1-10 { background-color: #FBC400; }
.lotto-past-number11-20 { background-color: #69C8F2; }
.lotto-past-number21-30 { background-color: #FF7272; }
.lotto-past-number31-40 { background-color: #AAAAAA; }
.lotto-past-number41-45 { background-color: #B0D840; }

/* 회차 정보 스타일 */
#latestLotto strong {
    font-size: 40px; /* 폰트 크기를 24px로 설정 */
    font-weight: bold; /* 굵은 글씨로 표시 */
}
